@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
  }
  :root {
    --background-primary: #f3f0ed;
    --background-secondary: #e3e3e3;
    --background-tertiary: #dfdad7;
    --foreground: #000000;
    --text-primary: #000000;
    /* --text-secondary: #9c9c9d; */
    --text-secondary: #6c6c6c;
    /* --text-primary-action: #737373; */
    --text-primary-action: #6b6b6b;
    --border-primary: #737373;
    --divider-color: #9c9c9d;
  }

  body {
    background: var(--background-primary);
    color: var(--foreground);
  }
}
