@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
  }
  :root {
    --background-primary: #f3f0ed;
    --background-secondary: #e3e3e3;
    --background-tertiary: #dfdad7;
    --foreground: #000000;
    --text-primary: #000000;
    --text-secondary: #484848;
    --text-primary-action: #656565;
    --border-primary: #737373;
    --divider-color: #9c9c9d;
  }

  body {
    background: var(--background-primary);
    color: var(--foreground);
    text-rendering: optimizeLegibility;
  }
}
